* {
  box-sizing: border-box;
}

main {
  max-width: 1440px;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

img > .device-img {
  width: 50%;
}

body::before {
  content: "";
  width: 50vw;
  height: 55vh;
  background: #eef3f6;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 60px;
  z-index: -1;
}

h3 {
  font-size: 0.85rem;
  letter-spacing: 5px;
  color: #a0a1ac;
  font-weight: 600;
}

h1,
h3,
a {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
}

nav {
  font-family: "Barlow Condesned";
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav .link-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
nav .link-items :nth-child(4) {
  color: red;
}
nav .link-items .dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: auto 30px;
  background: #a0a1ac;
}
nav .link-items a {
  margin-right: 20px;
  text-decoration: none;
  color: #242942;
}
nav .link-items a:last-child {
  color: #a0a1ac;
}
nav .link-items a:hover {
  text-decoration: underline;
}

.description button {
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  background-color: #ff5c5c;
  color: white;
  font-weight: 700;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.description button:hover {
  opacity: 0.7;
}

@media (min-width: 375px) {
  .navbar {
    margin: 0;
    padding: 10px;
  }

  .logo {
    justify-content: start;
  }

  .burger {
    display: block !important;
  }

  .container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0;
  }
  .container img {
    width: 140%;
  }

  .description {
    width: 90%;
    margin: auto;
    padding: 70px 0 0;
  }
  .description h3 span {
    border-radius: 20px;
    background: #242942;
    padding: 3px 10px;
    height: 20px;
    margin-left: 10px;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
  }
  .description h1 {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 100%;
    margin: 1rem 0;
    color: #242942;
  }
  .description h4 span {
    color: #a0a1ac;
    font-weight: 400;
    margin-left: 15px;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  .description P {
    color: #a0a1ac;
  }
}
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .link-items {
    position: absolute;
    top: 75px;
    flex-direction: column !important;
    background-color: #fff;
    justify-content: center;
    padding: 1rem;
    margin: 0 auto;
    width: 90vw;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(-800px);
    transition: all 0.3s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  }
  .link-items li {
    text-align: center;
    letter-spacing: 1px;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .link-items.show {
    transform: translateX(0);
  }
  .link-items .dot {
    display: none;
  }
  .link-items a:last-child {
    margin: 0 auto;
    display: block;
    border-top: #a0a1ac 1px solid;
    width: 100%;
    padding-top: 0.5rem;
    text-align: center;
  }

  .burger .close {
    display: block;
    display: none;
  }
  .burger.show .open {
    display: none;
  }
  .burger.show .close {
    display: block;
  }
}
@media (min-width: 768px) {
  .description h4 button {
    font-size: 1.2rem;
    padding: 25px;
    letter-spacing: 2px;
  }
  .description h4 span {
    font-size: 1.4rem;
  }
  .description h1 {
    font-size: 5rem;
  }
  .description h3 {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .burger {
    display: none !important;
  }

  .img {
    order: 2;
  }

  .description {
    order: 1;
  }
  .description h4 button {
    font-size: 0.8rem;
    padding: 15px;
    letter-spacing: 2px;
  }
  .description h4 span {
    font-size: 0.8rem;
  }
  .description h1 {
    font-size: 3rem;
  }
  .description h3 {
    font-size: 1.2rem;
  }

  body::before {
    width: 57vw;
    height: 38vh;
  }

  main {
    margin: 50px;
  }
}
@media (min-width: 1440px) {
  body::before {
    width: 43vw;
    height: 30vh;
  }

  main {
    margin-left: 6%;
  }

  .description {
    margin-left: 50px;
    order: 1;
  }
  .description h4 {
    margin-top: 4.5rem;
  }
  .description h4 button {
    font-size: 0.8rem;
    padding: 17px;
    letter-spacing: 2px;
  }
  .description h4 span {
    font-size: 1.2rem;
  }
  .description h1 {
    font-size: 4rem;
  }
  .description h3 {
    font-size: 1.2rem;
  }
  .description p {
    font-size: 1.1rem;
  }
}/*# sourceMappingURL=style.css.map */